body {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background-color: #ff74bc;
    margin: 0px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    touch-action: manipulation;
}

#container {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 10%;

}
.calculator {
    width: 500px;
    background-color: #ff74bc;
    padding: 15px;
    border-radius: 3px;
    border: 10px solid #ffd6ea;

}
.numberpad {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 3px solid #ffa6d3;
    justify-content: flex-start;
    align-items: stretch;
}
.numberKey {
    margin: 3px;
    background-color: #ff82c3;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberKey:hover {
    background-color: #ff8fc7;
}



#actions {
    margin-top: 10px;
    border: 3px solid #ffa6d3;
    display: flex;
    flex-flow: row wrap;

}
.action_button {
    margin: 3px;
    background-color: #ff82c3;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;;
}
.action_button:hover {
    background-color: #ff8fc7;
}
.operations {
    margin-top: 10px;
    border: 3px solid #ffa6d3;
    display: flex;
    flex-flow: row wrap;
}
.operation {
    margin: 3px;
    background-color: #ff82c3;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.operation:hover {
    background-color: #ff8fc7;
}

/* Display */
#display_equation {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    color: #ffffff;
    background-color: #ff82c3;
    border: 3px solid #ffa6d3;
    border-radius: 3px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}
#display_equation:focus {
    outline: none;
}
#history_view {
    display: flex;
    flex-flow: wrap;
    margin-top: 5px;
    height: 45px;
    color: #874969;
    background-color: #ffc4e2;
    border: 3px solid #ffa6d3;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: grab;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}
#history_view::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


.btn-basic {
    border-radius: 3%;
}


.deleteButton {
    background-color: #ff82c3;
    width: 10px;
    height: 10px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 3px;
    border: 3px solid #ffa6d3;
    float: right;

}
.divider {
    border: none;
    border-top: 2px dashed #ffb1ca;
}

#settings {
    font-size: 2rem;
}

.history_item {
    display: flex;
    width: 100%;
    font-size: 15px;
    margin-bottom: 4px;
    background-color: #ffebf4;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    color: #d15093;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
}

.remove_history_item {
    background-color: #ffaed6;
    padding: 7px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;

}
.remove_history_item:hover {
    background-color: #ffdfdf;
}

.history_item_equation {
    background-color: #ffffff;
    padding: 7px 10px 7px 10px;
    border-radius: 0px 3px 3px 0px;
    margin-left: 5px;
    word-wrap: break-word;
}
.history_item_result {
    background-color: #ffffff;
    padding: 7px 10px 7px 10px;
    border-radius: 0px 3px 3px 0px;
    margin-left: 5px;
    word-wrap: break-word;
}
